h4{
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.4px;
}
.smallText{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
.medalScore{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.4px;
}
.gold{
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.trophies{
    font-size: 10px;
    line-height: 13px;
    color: #999999;
}

.game .smallText{
    font-weight: 700;
    margin-bottom: 1.5px;
}

.game .line{
    width: 149px;
    background: black;
    height: 1px;
}
.ist{
    font-weight: 500;
}
.rounds .numbers{
    font-weight: 700;
    letter-spacing: 0.4px;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.rounds .time{
    font-size: 8px;
    color: #999999;
}
@media(max-width:575px){
    h4{
        text-align: center;
    }
    .smallText{
        text-align: center;
    }
    .game .smallText{
        text-align: left;
    }
}