<div class="container mt-5 pt-sm-4">
    <div class="text-left">
        <h4>Tournament Performance</h4>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-9">
            <p class="smallText">Tournament Statitics</p>
            <div class="row mt-4 justify-content-center">
                <div class="col-8 col-md-5 col-sm-6 medals">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <img src="{{gold}}" class="mr-3" alt="medals">
                            <p class="mb-0 medalScore">20</p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="gold mb-0">Gold</p>
                            <p class="trophies mb-0">Trophies</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-4 mb-4">
                        <div class="d-flex align-items-center">
                            <img src="{{silver}}" class="mr-3" alt="medals">
                            <p class="mb-0 medalScore">115</p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="gold mb-0">Silver</p>
                            <p class="trophies mb-0">Trophies</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <img src="{{bronz}}" class="mr-3" alt="medals">
                            <p class="mb-0 medalScore">104</p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="gold mb-0">Bronz</p>
                            <p class="trophies mb-0">Trophies</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 d-none d-md-block"></div>
                <div class="col-8 col-md-5 col-sm-6 medals  mt-5 mt-sm-0">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <p class="mb-0 medalScore">78.32</p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="gold mb-0">Win rate</p>
                            <p class="trophies mb-0">Competitive</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between  mt-4 mb-4">
                        <div class="d-flex align-items-center">
                            <p class="mb-0 medalScore">2345</p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="gold mb-0">Skill points</p>
                            <p class="trophies mb-0">Competitive</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <p class="mb-0 medalScore">50/12/3</p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="gold mb-0">Records</p>
                            <p class="trophies mb-0">Competitive</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-sm-3 game mt-5 mt-sm-0">
            <p class="smallText">Game</p>
            <div class="line"></div>
            <img src="{{logo}}" class="logo mt-2" alt="logo">
            <p class="smallText mt-3">Rank</p>
            <div class="line"></div>
            <p class="mb-3 ist">1ST</p>
            <p class="smallText">Share this stats</p>
            <div class="line"></div>
            <p class="mt-2 d-flex">
                <img src="{{img1}}" class="mr-md-2" alt="logo">
                <img src="{{img2}}" class="mr-md-2" alt="logo">
                <img src="{{img3}}" class="mr-md-2" alt="logo">
                <img src="{{img4}}" alt="logo">
            </p>
        </div>
    </div>
    <div class="row justify-content-center rounds mt-4">
        <div class="col-11">
            <div class="row justify-content-center">
                <div class="col">
                    <p class="numbers" style="padding-left: 6px;">22 hours</p>
                    <img src="{{graph1}}" alt="graph">
                    <p class="time " style="padding-left: 6px;">Time played</p>
                </div>
                <div class="col">
                    <p class="numbers" style="padding-left: 6px;">23</p>
                    <img src="{{graph2}}" alt="graph">
                    <p class="time " style="padding-left: 6px;">Current Win Streak</p>
                </div>
                <div class="col">
                    <p class="numbers" style="padding-left: 6px;">28</p>
                    <img src="{{graph3}}" alt="graph">
                    <p class="time " style="padding-left: 6px;">Round 1 Finish</p>
                </div>
                <div class="col">
                    <p class="numbers" style="padding-left: 6px;">01</p>
                    <img src="{{graph4}}" alt="graph">
                    <p class="time " style="padding-left: 6px;">Round 2 Finish</p>
                </div>
                <div class="col">
                    <p class="numbers" style="padding-left: 6px;">08</p>
                    <img src="{{graph5}}" alt="graph">
                    <p class="time " style="padding-left: 6px;">Finals</p>
                </div>
            </div>
        </div>
    </div>
</div>