<div class="container mt-5">
    <hr>
   <div class="row justify-content-center">
       <div class="col-md-8 col-sm-8">
           <div class="text-left">
               <h4>number of games played this month</h4>
           </div>
           <div class="position-relative">
               <img src="{{bar}}" class="w-100" alt="bar">
               <div class="imgBox">
               <img src="{{ img }}" class="w-100" alt="number">
               </div>
           </div>
       </div>

       <div class="col-md-4 col-sm-4 col-8 mt-md-0 mt-3">
           <div class="pl-md-1">
        <div class="text-left">
            <h4 class="mb-2">Upcoming tournament</h4>
        </div>
        <img src="{{car}}" class="w-100 mb-3" alt="car">
        <p class="rocket mb-0">Rocket legue Tournament</p>
        </div>
        <div class="tile">
            <p class="mb-1">November- December 2018</p>
            <hr>
            <p class="mb-0"><span class="mr-4">DATE:</span> <span class="black">09/11/2020</span></p>
            <p class="mb-0"><span class="mr-4">Time:</span> <span class="black">16:00 PM GMT</span></p>
            <p class="mb-0"><span class="mr-4">Type:</span> <span class="black">Single Elimination</span></p>
        </div>
    </div>

   </div>
    </div>
