
<div class="container mt-3">
    <div class="row">
        <div class="col-12 position-relative">
            <img src="{{level}}" class="w-100" alt="game">
            <div class="text-left col-lg-5 col-md-5 col-sm-7 textBoxx">
                <h3 class="mb-1">{{head}}</h3>
                <p>{{copy}}</p>
                <button class="btn btn-transparent">Join Now <span class="ml-3"><i class="fa fa-arrow-right" aria-hidden="true"></i></span></button>
            </div>
        </div>
    </div>
</div>
<app-logoslider></app-logoslider>