<div class="position-relative mt-3">
    <app-asidelogo></app-asidelogo>
    <div class="mainContainer">
        <div class="wrapper">

            <div class="container mt-5">
                <div class="row ">
                    <div class="col-lg-12 authordetails d-flex align-items-center flex-sm-row flex-column ">
                        <img src="{{authorimg}}" class="authorImg mr-4" alt="author">
                        <div>
                            <h4 class="mb-1">Zach Malori</h4>
                            <p>Last Tournament 4 days ago</p>
                        </div>
                        <div class="boxtabs ml-sm-5">
                            <span>Rocket Legaue</span>
                            <span>Fifa21</span>
                            <span>Valorant</span>
                            <span>Fortnite</span>
                        </div>
                    </div>
                </div>

                <div class="row tournament">
                    <div class="col-md-2 headbox mt-md-5 mt-sm-3 pt-3 pb-3 text-left d-flex justify-content-around align-items-center">
                        <h5 class="mb-0 head">Tournaments<br>Played</h5>
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 mt-md-5 pt-3 pb-3 boxes">
                        <!--slider-->

                        <div class="row">
                            <div class="col-sm-4 col-10 d-flex justify-content-around scorebox">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="mr-3">
                                            <img src="{{teamlogo1}}" alt="">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <p class="title mb-2">TLW</p>
                                            <p class="city  mb-0">London</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="mr-3">
                                            <img src="{{teamlogo2}}" alt="">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <p class="title mb-2">RRH</p>
                                            <p class="city  mb-0">London</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-column mt-2 score">
                                    <span class="mb-3">2</span>
                                    <span>4</span>
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="mb-5 title">Final</span>
                                    <span class="date">04/13</span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-10 d-flex justify-content-around scorebox">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="mr-3">
                                            <img src="{{teamlogo1}}" alt="">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <p class="title mb-2">TLW</p>
                                            <p class="city  mb-0">London</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="mr-3">
                                            <img src="{{teamlogo4}}" alt="">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <p class="title mb-2">RRH</p>
                                            <p class="city  mb-0">London</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-column mt-2 score">
                                    <span class="mb-4 blueColor"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
                                    <span class=" blueColor"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="mb-5 title blueColor">Stats</span>
                                    <span class="date blueColor font-weight-bold">REPLAY</span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-10 d-flex justify-content-around scorebox">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="mr-3">
                                            <img src="{{teamlogo3}}" alt="">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <p class="title mb-2">TLW</p>
                                            <p class="city  mb-0">London</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="mr-3">
                                            <img src="{{teamlogo1}}" alt="">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <p class="title mb-2">RRH</p>
                                            <p class="city  mb-0">London</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-column mt-2 score">
                                    <span class="mb-3">2</span>
                                    <span>4</span>
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="mb-5 title">Final</span>
                                    <span class="date">04/13</span>
                                </div>
                            </div>
                        </div>
                        <!--slider-->
                    </div>
                </div>

            </div>
           

            <app-performance></app-performance>
            <app-game></app-game>
            <app-league></app-league>
            <app-tournament></app-tournament>
        </div>
    </div>

</div>