.slick-slide{
    margin: 0 20px 0  0;
}

h4{
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.3px;
}
.boxtabs span{
    color: #00000073;
}
.boxtabs span:not(:last-child){
    margin-right: 30px;
}
.author{
    width:25px;
    height: 25px;
    display: inline-block;
}
.boxtabs span:first-child{
    color:#053c83;
    font-weight: 500;
}

.boxtabs span{
    font-size: 10px;
}

.text-dark {
    color:#000
}

.details h5{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    color: #000;
}

p.textTwo{
    font-size: 11px;
    color: #000;
}

.details .textWhite{
    font-size: 10px;
    color: #0000009e;
}

@media(max-width:576px){
    .slick-slide{
        margin: 0 20px 0;
    }

    .box-row{
        justify-content: center;
    }

    .boxtabs{
        display: flex;
        justify-content: center;
    }

    h4{
        text-align: center;
    }
}