
.textContainer {
    position: absolute;
    bottom: 21%;
    margin-left: 40px;
    width: 30vw;
}
.textContainer h4{
    color:#fff;
    text-transform: uppercase;
    font-size: 2vw;
    line-height:3vw;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.btn.btn-primary{
    font-size: 8px;
    background-color: #fff;
    color: blue;
    border-radius: 0px;
    border: none;
    padding: 8px 30px;
}

.mainContainer{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    border-top: 1px solid #f7f7f7;
}
.wrapper{
    width: 95%;
}

.leftnav{
    width: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top:2vw;
}

.leftnav img{
    width: 22px;
    margin:0 0 2.50000vw 0;
}

.leftnav .logos:nth-child(3) img {
    width: 40px;
}
.leftnav .logos:nth-child(6) img {
    width: 40px;
}
.leftnav .logos:nth-child(4) img {
    width: 15px;
}

@media(max-width:992px){
    .wrapper{
        width: 93%;
    }

    .leftnav{
        width: 7%;
    }
}
@media(max-width:768px){
    .textContainer h4{
        font-size: 3vw;
        margin-bottom: 5px;
        line-height:4vw;
    }
    .btn.btn-primary{
        padding: 3px 18px;
        font-size: 8px;
    }
    .wrapper{
        width: 100%;
    }

    .leftnav .logos:nth-child(4) img {
        width: 9px;
    }

    .leftnav{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 62%;
        margin: auto;
        align-items: center;
        justify-content: space-around;
    }

    .textContainer{
        width: 45vw;
        margin-left: 20px;
    }
   
}

@media(max-width:576px){
    .textContainer h4{
        font-size: 3vw;
        margin-bottom: 5px;
    }

    .leftnav{
        width: 80%;
    }
    .btn.btn-primary{
        padding: 3px 18px;
        font-size: 8px;
    }
   
}