<app-slider></app-slider>
<app-logoslider></app-logoslider>
<app-boxslider></app-boxslider>
<div class="container dashboard mt-5 pt-2">
    <div class="row d-sm-flex align-items-sm-center justify-content-center">
        <div class="col-sm-5 col-11">
            <div class="text-sm-left text-center textBox">
                <h4>GET ESPORTS COACHING FROM THE BEST</h4>
                <p>Photo on the right are placeholders. Art Direction request portrait style images. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary btn-white mt-md-3">Early Access <span class="ml-3"><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
            </div>
        </div>
        <div class="col-sm-7 col-11 mt-5 mt-sm-0">
            <img [src]="img" class="w-100" alt="image">
        </div>
    </div>
</div>

<app-boxslider-two></app-boxslider-two>
<app-table></app-table>



