.slick-slide{
    margin: 0 20px 0  0;
}

h4{
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.3px;
}

.details p {
    font-size: 10px;
    opacity: 0.6;
    text-transform:uppercase;
}
.details h5{
    color: #000;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 500;
    font-size: 11px;
}

@media(max-width:576px){
    .slick-slide{
        margin: 0 20px 0;
    }

    h4{
        text-align: center;
    }
}